/*.md
!README.md
/*.svg
/*.png
/*.jpg
/*.jpeg
/*.yaml
/*.yml
/*.json
/*.csv
/*.xlsx
/*.jsonl
/rayweave
.idea
.aiignore
samples/*.txt
samples/*.jsonl
samples/*.svg
samples/*.png
samples/*.csv
samples/*-result.yaml
samples/*-optimized.yaml
samples/glass-chief-init-w*.yaml
samples/glass-chief-opt-w*.yaml
